<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        

        .jumbotron {
            text-align: center;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the Student Management System</h1>
            <p class="lead">Manage students, courses, and more!</p>
            <a href="#" class="btn btn-primary btn-lg">Get Started</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
